/* Header */
.header{
	background-color: whitesmoke;
}

.hidden{
    transition: all 1s ease-in-out !important;
    opacity:0;
    max-height:0;
    max-width:0;
    display:none;
    padding:0 !important;
    margin:0 !important;
    border:none !important;
    overflow:hidden;
}

.logo{
	max-width: 175px;
	transition: .25s ease-in-out;
	margin-bottom: -1em;
}

.logo:hover{
	opacity: 85%;

}

.navbar ul{
	display: flex;
}

.navbar a{
	padding: 0 5px;
	margin: 0 5px;
	font-weight: 500;
	color: var(--secondary-color);
	transition: .25s ease-in-out;
}


.navbar a:hover{
	color: var(--primary-color);	
}

.header .container {
	width: 95%;
}

.header .flex{
	justify-content: space-between;
}

.header-opt-no-resize{
	overflow: hidden;
}


/* Hero */
.hero {
	height: 80vh;
	background-color: whitesmoke;
}


.hero p {
	margin: 20px 0;
}

.opt-team-pic{
	border-radius: 1110px;
}
#optTitleCanvasHldr{
	overflow: hidden;
}


/* Technology */
.technology .card {
	text-align: center;
	transition: all .2s ease-in-out;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.technology .card h4 {
	text-transform: uppercase;
}

.technology .card img {
	max-width: 200px;
}

.technology .card:hover{
	transform: translateY(-15px);
}

.technology .grid-r {
	align-items: stretch;
}


/* Team */

.team {
	background-color: whitesmoke;

}


.team .card img {
	max-width: 150px;
}


.team .card h4 {
	text-transform: uppercase;
	margin-top: 1em;
}

.team .card a {
	color: var(--primary-color);
	transition: .25s ease-in-out;
}

.team .card a:hover {
	opacity: 75%;
}



.team .grid-r {
	place-items: stretch;
}

.team .flex {
	flex-direction: column;
	justify-content: center;
}

/* Footer */
.footer {
	background-image: var(--background-dark);
	color: #fff;
	font-size: 1rem;
}

.footer a {
	color: #fff;
	opacity: .7;
	transition: .25s ease-in-out;
}

.footer a:hover {
	opacity: 1;
}

.footer h4 {
	color: var(--tertiary-color);
	
}

.footer .container {
	width: 90%;
}

.footer .contact i {
	margin-right: .5em;
}

.footer .social {
	margin: 1em 0;
}

.footer .social i {
	padding-right: .5rem;
}


.footer .grid-r {
	align-items: start;
	justify-content:flex-start;
	justify-items: center;
}

@media(max-width: 768px) {
	.footer .grid-3 {
		align-items: start;
		justify-content: start;
		justify-items: center;
	}
}

/* Animation */
.header-content {
	animation: fade-in 2s;
  }

  .hero-content {
	animation: fade-in 2s;
  }

  
  
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 1;
	}
  
  }











	